---
layout: page
---

<h1 class="portfolio">Evan Thornberry</h1>
<p>
  I'm the Head and Curator of the David Rumsey Map Center at Stanford University Library, where I oversee the stewardship of a significant historical map collection. Previously, I was the Geographic Information Systems (GIS) Librarian at the University of
  British Columbia (UBC) Library in Vancouver, British Columbia, where I worked to
  support teaching, learning, and research with geospatial information,
  technology, and cartographic material. Previous to my work at UBC I was the
  Reference and Geospatial Librarian at the Norman B. Leventhal Map Center at
  the Boston Public Library (BPL). While there I led reference and technology
  projects within the BPL's collection of approximately 200,000 historical map
  and 5,000 atlases ranging in date from 1482 to the present. Altogether, I have
  over 12 years of professional experience working in a variety of map
  collection and spatial technology roles. For a more complete professional
  profile, please see my <a href="/cv.html">CV</a>
</p>
<br />
<p>
  When I'm not working I enjoy spending time outside hiking, biking, or
  relaxing. I sometimes post about those things on my personal site
  <a href="https://evan.town/" target="_blank">evan.town</a>. I've been to 49
  U.S. states, 7 Canadian provinces and territories, 14 countries, 3 continents,
  and all 4 hemispheres. I've been keeping track of road trip routes since I was
  a kid. Below are my updated routes in North America as of February, 2023.
</p>

<iframe
  src="/trips.html"
  title="Evan's trips"
  width="100%"
  height="600"
  style="border: none; margin-top: 50px"
></iframe>

<!-- Google tag (gtag.js) -->
<script
  async
  src="https://www.googletagmanager.com/gtag/js?id=G-3EP816DGVQ"
></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag() {
    dataLayer.push(arguments);
  }
  gtag("js", new Date());

  gtag("config", "G-3EP816DGVQ");
</script>
